.intro-message {
	text-align: center;
	padding-top: 20%;
	padding-bottom: 10%;
	color: #fff;
}

body {
	background: url(intro2.jpg) no-repeat center;
}

.signup-form{
	color: #fff;
}

.email{
	color: #000;
}

h1,h3{
	background-color: rgba(0,0,0,0.4);
	padding-top: 1%;
	padding-bottom: 1%;
}

#mc-embed-signup{
text-align: center;
}

#mc_embed_signup_scroll{
	text-align: center;
}